<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Add POS Here</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                   <div class="row">
                       <div class="col-xs-6 text-left">
                           <button class="btn btn-primary"  onclick="window.history.go(-1); return false;">&lt;&lt; Back</button>
                       </div>
                       <div class="col-xs-6">
                           <button class="btn btn-primary margin-right-10 float-right" ui-sref="admin.greatJob">Connect...</button>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>