<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Administrator</h2>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-primary"  onclick="window.history.go(-1); return false;">&lt;&lt; Back</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ui-sref="profile.userSetup">
                            <div class="widget style1 lazur-bg">
                                <div class="text-center home-element">
                                    <a class="pos-title" >Create/Delete/Modify Users</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ui-sref="admin.comingSoon">
                            <div class="widget style1 lazur-bg">
                                <div class="text-center home-element">
                                    <a class="pos-title">Billing</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ui-sref="admin.posSync">
                            <div class="widget style1 lazur-bg">
                                <div class="text-center home-element">
                                    <a class="pos-title">POS Sync</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ui-sref="admin.comingSoon">
                            <div class="widget style1 lazur-bg">
                                <div class="text-center home-element">
                                    <a class="pos-title">Accounting Sync</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>