<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Food Sub Categories</h2>
        <ol class="breadcrumb">
            <li ui-sref="admin.inventoryCategories">
                <a>Inventory</a>
            </li>&nbsp;/&nbsp;
            <li class="active-page">
                <a>Food Categories</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-primary"  onclick="window.history.go(-1); return false;">&lt;&lt; Back</button>
                        </div>
                    </div>
                   <div class="row">
                       <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="food.newFoodOrder">
                           <div class="widget style1 lazur-bg">
                               <div class="text-center button-element">
                                   <a class="pos-title">New Food Orders</a>
                               </div>
                           </div>
                       </div>
                       <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="food.orderSummary">
                           <div class="widget style1 lazur-bg">
                               <div class="text-center button-element">
                                   <a class="pos-title">Confirm Food Delivery</a>
                               </div>
                           </div>
                       </div>
                       <div class="col-sm-12 col-md-6 col-lg-4" ui-sref="food.foodInventory">
                           <div class="widget style1 lazur-bg">
                               <div class="text-center button-element">
                                   <a class="pos-title">Begin Food Inventory Count</a>
                               </div>
                           </div>
                       </div>
                       <div class="col-sm-12 col-md-6 col-lg-4" ng-click="main.isFoodSetup = true" ui-sref="food.vendorSetup">
                           <div class="widget style1 lazur-bg">
                               <div class="text-center button-element">
                                   <a class="pos-title">Add New Food Vendor</a>
                               </div>
                           </div>
                       </div>
                       <div class="col-sm-12 col-md-6 col-lg-4" ng-click="main.isFoodSetup = true" ui-sref="food.recipeSetup">
                           <div class="widget style1 lazur-bg">
                               <div class="text-center button-element">
                                   <a class="pos-title">Modify Food Menu/Recipe</a>
                               </div>
                           </div>
                       </div>
                       <div class="col-sm-12 col-md-6 col-lg-4" ng-click="main.isFoodSetup = true" ui-sref="food.deliverySetup">
                           <div class="widget style1 lazur-bg">
                               <div class="text-center button-element">
                                   <a class="pos-title">Modify Food Delivery Schedule</a>
                               </div>
                           </div>
                       </div>
                       <div class="col-sm-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4" ui-sref="admin.comingSoon">
                           <div class="widget style1 lazur-bg">
                               <div class="text-center button-element">
                                   <a class="pos-title">Food Inventory Quick-View Pricing Update</a>
                               </div>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h4>Helpful Tip</h4>
                                    <hr/>
                                </div>
                            </div>
                            <div class="">
                                <div class="full-height-scroll" full-scroll>
                                    <p class="padding-top-5">
                                       Note
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>