<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Food Inventory Audit Pad</h2>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-md-7">
            <div class="ibox float-e-margins">
                <div class="ibox-content overflow-x-auto">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group float-left select-category">
                                <label class="font-noraml">Select Category:</label>
                            </div>
                            <div class="form-group float-left">
                                <select class="form-control" ng-init="main.type = main.types[0]" ng-model="main.type" ng-options="option.name for option in main.types"></select>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                        <thead class="th-text-center th-vertical-align-middle">
                        <tr>
                            <th class="min-width-150">Inventory Item</th>
                            <th class="width-100">Item Qty</th>
                            <th class="width-120">Case or Qty</th>
                            <th class="width-120">Unit of Measure</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <select class="form-control">
                                    <option>Steak</option>
                                    <option>Chicken</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" class="form-control">
                            </td>
                            <td>
                                <select class="form-control">
                                    <option>Case</option>
                                    <option>Quantity</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control">
                                    <option>Ounces</option>
                                    <option>Gallons</option>
                                    <option>Pieces</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn btn-primary"  onclick="window.history.go(-1); return false;">&lt;&lt; Back</button>
                        </div>
                        <div class="col-xs-6 text-right">
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="th-text-center th-vertical-align-middle">
                                            <tr>
                                                <th class="width-50">#</th>
                                                <th class="min-width-150">Inventory Item</th>
                                                <th class="width-140">Item Qty</th>
                                                <th class="width-140">Case or Qty</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="text-center">1</td>
                                                <td>
                                                        Chicken
                                                </td>
                                                <td>
                                                    6
                                                </td>
                                                <td>
                                                       Case
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button class="btn btn-primary">Final Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>