<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Select Restaurant</h2>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-5 padding-top-5">
                            <input type="text" class="form-control" id="filter" placeholder="Restaurant Name">
                        </div>
                        <div class="col-md-2 padding-top-5">
                            <button class="btn btn-primary">Search</button>
                        </div>
                        <div class="col-md-5 text-right padding-top-5">
                            <button class="btn btn-primary" ui-sref="admin.pos">Add new Restaurant</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="footable table table-stripped" data-page-size="8">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Restaurant Name</th>
                            <th>Address</th>
                            <th data-sort-ignore="true" class="center width-210">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="gradeX">
                            <td>45665</td>
                            <td>Chilis</td>
                            <td>Restaurant Address 123</td>
                            <td class="center">
                                <button class="btn btn-primary" ui-sref="admin.homeMenu" ng-click="main.selectRestaurant()">Select</button>
                                <button class="btn btn-primary" ui-sref="admin.pos">Setup Process</button>
                            </td>
                        </tr>
                        <tr class="gradeC">
                            <td>45665</td>
                            <td>Chilis</td>
                            <td>Restaurant Address 123</td>
                            <td class="center">
                                <button class="btn btn-primary" ui-sref="admin.homeMenu" ng-click="main.selectRestaurant()">Select</button>
                                <button class="btn btn-primary" ui-sref="admin.pos">Setup Process</button>
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td>45665</td>
                            <td>Chilis</td>
                            <td>Restaurant Address 123</td>
                            <td class="center">
                                <button class="btn btn-primary" ui-sref="admin.homeMenu" ng-click="main.selectRestaurant()">Select</button>
                                <button class="btn btn-primary" ui-sref="admin.pos">Setup Process</button>
                            </td>
                        </tr>
                        <tr class="gradeC">
                            <td>45665</td>
                            <td>Chilis</td>
                            <td>Restaurant Address 123</td>
                            <td class="center">
                                <button class="btn btn-primary" ui-sref="admin.homeMenu" ng-click="main.selectRestaurant()">Select</button>
                                <button class="btn btn-primary" ui-sref="admin.pos">Setup Process</button>
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td>45665</td>
                            <td>Chilis</td>
                            <td>Restaurant Address 123</td>
                            <td class="center">
                                <button class="btn btn-primary" ui-sref="admin.homeMenu" ng-click="main.selectRestaurant()">Select</button>
                                <button class="btn btn-primary" ui-sref="admin.pos">Setup Process</button>
                            </td>
                        </tr>
                        <tr class="gradeC">
                            <td>45665</td>
                            <td>Chilis</td>
                            <td>Restaurant Address 123</td>
                            <td class="center">
                                <button class="btn btn-primary" ui-sref="admin.homeMenu" ng-click="main.selectRestaurant()">Select</button>
                                <button class="btn btn-primary" ui-sref="admin.pos">Setup Process</button>
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td>45665</td>
                            <td>Chilis</td>
                            <td>Restaurant Address 123</td>
                            <td class="center">
                                <button class="btn btn-primary" ui-sref="admin.homeMenu" ng-click="main.selectRestaurant()">Select</button>
                                <button class="btn btn-primary" ui-sref="admin.pos">Setup Process</button>
                            </td>
                        </tr>
                        <tr class="gradeC">
                            <td>45665</td>
                            <td>Chilis</td>
                            <td>Restaurant Address 123</td>
                            <td class="center">
                                <button class="btn btn-primary" ui-sref="admin.homeMenu" ng-click="main.selectRestaurant()">Select</button>
                                <button class="btn btn-primary" ui-sref="admin.pos">Setup Process</button>
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td>45665</td>
                            <td>Chilis</td>
                            <td>Restaurant Address 123</td>
                            <td class="center">
                                <button class="btn btn-primary" ui-sref="admin.homeMenu" ng-click="main.selectRestaurant()">Select</button>
                                <button class="btn btn-primary" ui-sref="admin.pos">Setup Process</button>
                            </td>
                        </tr>

                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>