    <div class="gray-bg">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>Account Level</h2>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary"  onclick="window.history.go(-1); return false;">&lt;&lt; Back</button>
                </div>
            </div>
            <div class="row padding-top-20">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-click="main.selectBlock(1)">
                        <div class="ibox">
                            <div class="ibox-content product-box">

                                <div class="product-imitation" ng-class="{'product-color' : main.posIndex == 1}">
                                    <div class="top-title">
                                        <p>Bar & Nightclub <br> Alcohol Based Analysis</p>
                                    </div>
                                    <span class="price-big">$149</span> <span class="color-black"> / month</span>
                                    <p>($1548 / year)</p>
                                </div>
                                <div class="product-desc">
                                    <p class="text-pos-description color-black">Unlimited Users</p>
                                    <p class="text-pos-description color-black">14-days free</p>
                                    <p class="text-pos-description color-black">Month to month</p>
                                    <p class="text-pos-description color-black">No cancelation fee</p>
                                </div>
                                <div class="text-center padding-20">
                                    <button class="btn" ui-sref="profile.setupProfile" ng-class="{'btn-primary' : main.posIndex == 1, 'btn-default' :  main.posIndex != 1}" type="button">Sign up</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-click="main.selectBlock(2)">
                        <div class="ibox">
                            <div class="ibox-content product-box">

                                <div class="product-imitation" ng-class="{'product-color' : main.posIndex == 2}">
                                    <div class="top-title">
                                        <p>Limited Service <br>Food Based Analysis</p>
                                    </div>
                                    <span class="price-big">$249</span> <span class="color-black"> / month</span>
                                    <p>($2748 / year)</p>
                                </div>
                                <div class="product-desc">
                                    <p class="text-pos-description color-black">Unlimited Users</p>
                                    <p class="text-pos-description color-black">14-days free</p>
                                    <p class="text-pos-description color-black">Month to month</p>
                                    <p class="text-pos-description color-black">No cancelation fee</p>
                                </div>
                                <div class="text-center padding-20">
                                    <button class="btn"  ui-sref="profile.setupProfile" ng-class="{'btn-primary' : main.posIndex == 2, 'btn-default' :  main.posIndex != 2}" type="button">Sign up</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-click="main.selectBlock(3)">
                        <div class="ibox">
                            <div class="ibox-content product-box">

                                <div class="product-imitation" ng-class="{'product-color' : main.posIndex == 3}">
                                    <div class="top-title">
                                        <p>Full Service <br>Food/Alcohol Analysis</p>
                                    </div>
                                    <span class="price-big">$349</span> <span class="color-black"> / month</span>
                                    <p>($3948 / year)</p>
                                </div>
                                <div class="product-desc">
                                    <p class="text-pos-description color-black">Unlimited Users</p>
                                    <p class="text-pos-description color-black">14-days free</p>
                                    <p class="text-pos-description color-black">Month to month</p>
                                    <p class="text-pos-description color-black">No cancelation fee</p>
                                </div>
                                <div class="text-center padding-20">
                                    <button class="btn"  ui-sref="profile.setupProfile" ng-class="{'btn-primary' : main.posIndex == 3, 'btn-default' :  main.posIndex != 3}" type="button">Sign up</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-click="main.selectBlock(4)">
                        <div class="ibox">
                            <div class="ibox-content product-box">

                                <div class="product-imitation" ng-class="{'product-color' : main.posIndex == 4}">
                                    <div class="top-title">
                                        <p>Enterprise <br> 5+ Locations</p>
                                    </div>
                                    <div class="">
                                        <p class="color-black">Contact Sales/Support</p>
                                        <p class="color-black">Phone: <a href="tel:800-000-0000">800-000-0000</a> </p>
                                        <p class="color-black">Email: <a href="mailto:support@skrible.com">sales@skrible.co</a></p>
                                        <p class="color-black">M-F 8am - 8pm CST</p>
                                    </div>
                                </div>
                                <div class="product-desc">

                                </div>
                                <div class="text-center padding-20" ng-click="main.reset()">
                                    <button class="btn" ng-controller="notifyCtrl" ng-class="{'btn-primary' : main.posIndex == 4, 'btn-default' :  main.posIndex != 4}" ng-click="inspiniaDemo1(); main.isRegistration = false; main.isFoodSetup=false;" type="button">Contact us</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
          <!--  <section id="pricing" class="pricing">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 wow zoomIn">
                            <ul class="pricing-plan list-unstyled">
                                <li class="pricing-title">
                                    Bar Alcohol Subscription Only
                                </li>
                                <li class="pricing-desc">
                                    Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                                </li>
                                <li class="pricing-price">
                                    <span>$16</span> / month
                                </li>
                                <li>
                                    Dashboards
                                </li>
                                <li>
                                    Projects view
                                </li>
                                <li>
                                    Contacts
                                </li>
                                <li>
                                    Calendar
                                </li>
                                <li>
                                    AngularJs
                                </li>
                                <li>
                                    <a class="btn btn-primary btn-xs" href="#">Signup</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-4 wow zoomIn">
                            <ul class="pricing-plan list-unstyled selected">
                                <li class="pricing-title">
                                    Standard
                                </li>
                                <li class="pricing-desc">
                                    Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                                </li>
                                <li class="pricing-price">
                                    <span>$22</span> / month
                                </li>
                                <li>
                                    Dashboards
                                </li>
                                <li>
                                    Projects view
                                </li>
                                <li>
                                    Contacts
                                </li>
                                <li>
                                    Calendar
                                </li>
                                <li>
                                    AngularJs
                                </li>
                                <li>
                                    <strong>Support platform</strong>
                                </li>
                                <li class="plan-action">
                                    <a class="btn btn-primary btn-xs" href="#">Signup</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-4 wow zoomIn">
                            <ul class="pricing-plan list-unstyled">
                                <li class="pricing-title">
                                    Premium
                                </li>
                                <li class="pricing-desc">
                                    Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                                </li>
                                <li class="pricing-price">
                                    <span>$160</span> / month
                                </li>
                                <li>
                                    Dashboards
                                </li>
                                <li>
                                    Projects view
                                </li>
                                <li>
                                    Contacts
                                </li>
                                <li>
                                    Calendar
                                </li>
                                <li>
                                    AngularJs
                                </li>
                                <li>
                                    <a class="btn btn-primary btn-xs" href="#">Signup</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row m-t-lg">
                        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
                            <p>*Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. <span class="navy">Various versions</span>  have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                        </div>
                    </div>
                </div>

            </section>-->
        </div>
    </div>
    <!-- End page wrapper-->

