<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>POS Selection</h2>
        <p class="padding-top-5">
            Please select the P.O.S. system that your restaurant currently uses. If you do not
            see your P.O.S. unfortunately our system will not work for you however we're
            consistently adding new connections but feel free to contact us with your brand of POS
            and we'll expedite the process.
        </p>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row"  ng-if="!main.isRegistration">
                        <div class="col-xs-12">
                            <button class="btn btn-primary"  onclick="window.history.go(-1); return false;">&lt;&lt; Back</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg pos_item cursor-pointer">
                                <div class="text-center pos-element">
                                    <img src="img/pos_logos/positouch.png" alt="" class="pos_logo">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg pos_item cursor-pointer">
                                <div class="text-center pos-element">
                                    <img src="img/pos_logos/micros.png" alt="" class="pos_logo">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg pos_item cursor-pointer">
                                <div class="text-center pos-element">
                                    <img src="img/pos_logos/dinerware.png" alt="" class="pos_logo">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg pos_item cursor-pointer">
                                <div class="text-center pos-element">
                                    <img src="img/pos_logos/maitred.png" alt="" class="pos_logo">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg pos_item cursor-pointer">
                                <div class="text-center pos-element">
                                    <img src="img/pos_logos/azbar.png" alt="" class="pos_logo">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg pos_item cursor-pointer">
                                <div class="text-center pos-element">
                                    <img src="img/pos_logos/veloce.png" alt="" class="pos_logo">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg pos_item cursor-pointer">
                                <div class="text-center pos-element">
                                    <img src="img/pos_logos/xpient.png" alt="" class="pos_logo">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ui-sref="admin.posDetails">
                            <div class="widget style1 navy-bg pos_item cursor-pointer">
                                <div class="text-center pos-element">
                                    <img src="img/pos_logos/squirrel_systems.png" alt="" class="pos_logo">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="widget style1 navy-bg pos_item soon">
                                <div class="text-center pos-element">
                                    <a class="pos-title">More Connections Coming soon</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
