<div class="row border-bottom menu-button">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="padding-left-20">
            <a class="navbar-brand navbar-link" href="" ui-sref="login" ng-if="!$ctr.isAuth">
                <i class="glyphicon glyphicon-cutlery"></i> Artecsan powered by Skrible
            </a>
            <a class="navbar-brand navbar-link" href="" ui-sref="home" ng-if="$ctr.isAuth">
                <i class="glyphicon glyphicon-cutlery"></i> Artecsan powered by Skrible
            </a>
        </div>
        <ul class="nav navbar-top-links navbar-right" ng-if="$ctr.isAuth">
            <li>
                <a href="" ng-click="$ctr.logout()">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
        <div class="float-right padding-left-20 padding-right-20" style="padding-top: 2px;">
            <span>
                   <strong>Contact Customer Support</strong><br>
                    {{$ctr.settings.default_business_hours}}<br>
                    <a href="mailto:{{$ctr.settings.default_contact_email}}">{{$ctr.settings.default_contact_email}}</a>
                    <a href="tel:{{$ctr.settings.default_contact_phone_number}}">{{$ctr.settings.default_contact_phone_number}}</a>
               </span>

        </div>
    </nav>
</div>
<div class="row border-bottom menu-button-xs">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="padding-left-20">
            <a class="navbar-brand navbar-brand-xs navbar-link" href="" ui-sref="login" ng-if="!$ctr.isAuth">
                <i class="glyphicon glyphicon-cutlery"></i>
            </a>
            <a class="navbar-brand navbar-brand-xs navbar-link" href="" ui-sref="home" ng-if="$ctr.isAuth">
                <i class="glyphicon glyphicon-cutlery"></i>
            </a>
        </div>
        <div class="padding-left-5 padding-right-5 float-left" style="padding-top: 2px;">
                <span>
                   <strong>Contact Customer Support</strong><br>
                   {{$ctr.settings.default_business_hours}}<br>
                    <a href="mailto:{{$ctr.settings.default_contact_email}}">{{$ctr.settings.default_contact_email}}</a>
                    <a href="tel:{{$ctr.settings.default_contact_phone_number}}">{{$ctr.settings.default_contact_phone_number}}</a>
                </span>
        </div>
        <div class="navbar-header float-right margin-right-10" ng-if="$ctr.isAuth">
            <span minimaliza-sidebar></span>
        </div>
    </nav>
</div>
