
    <div class="inmodal">
        <form name="$ctr.form" autocomplete="off" novalidate ng-submit="$ctr.submit($ctr.form)">
            <fieldset ng-disabled="$ctr.searchModel.inRequest">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$ctr.cancel()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Update Pricing/Add Unique Items</h4>
                </div>
                <div class="modal-body">
                    <div class="row m-b">

                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table class="table ng-scope  footable-sort">
                                    <thead class="th-text-center th-vertical-align-middle ">
                                    <tr>
                                        <th ng-click="$ctr.getMyItems('vendor_sku')" class="width-100"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'vendor_sku' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'vendor_sku' && $ctr.searchModel.order_way == 'ASC')}">
                                         <span class="no-wrap cursor-pointer">
                                           SKU
                                           <span class="footable-sort-indicator"></span>
                                        </span>
                                        </th>
                                        <th ng-click="$ctr.getMyItems('pack')" class="width-100"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'pack' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'pack' && $ctr.searchModel.order_way == 'ASC')}">
                                        <span class="no-wrap cursor-pointer">
                                             Pack <span class="text-danger">*</span>
                                            <span class="footable-sort-indicator"></span>
                                        </span>
                                        </th>
                                        <th ng-click="$ctr.getMyItems('size')" class="width-100"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'size' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'size' && $ctr.searchModel.order_way == 'ASC')}">
                                        <span class="no-wrap cursor-pointer">
                                             Size <span class="text-danger">*</span>
                                            <span class="footable-sort-indicator"></span>
                                        </span>
                                        </th>
                                        <th ng-click="$ctr.getMyItems('unit_of_delivery')" class="width-100"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'unit_of_delivery' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'unit_of_delivery' && $ctr.searchModel.order_way == 'ASC')}">
                                        <span class="no-wrap cursor-pointer">
                                             Unit <span class="text-danger">*</span>
                                            <span class="footable-sort-indicator"></span>
                                        </span>
                                        </th>
                                        <th ng-click="$ctr.getMyItems('brand')" class="width-100"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'brand' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'brand' && $ctr.searchModel.order_way == 'ASC')}">
                                        <span class="no-wrap cursor-pointer">
                                             Brand <span class="text-danger">*</span>
                                            <span class="footable-sort-indicator"></span>
                                        </span>
                                        </th>
                                        <th ng-click="$ctr.getMyItems('item_name')"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'item_name' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'item_name' && $ctr.searchModel.order_way == 'ASC')}">
                                        <span class="no-wrap cursor-pointer">
                                             Desc / name <span class="text-danger">*</span>
                                            <span class="footable-sort-indicator"></span>
                                        </span>
                                        </th>
                                        <th ng-click="$ctr.getMyItems('category')" class="width-150"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'category' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'category' && $ctr.searchModel.order_way == 'ASC')}">
                                        <span class="no-wrap cursor-pointer">
                                             Cat <span class="text-danger">*</span>
                                            <span class="footable-sort-indicator"></span>
                                        </span>
                                        </th>
                                        <th ng-click="$ctr.getMyItems('sub_category')" class="width-120"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'sub_category' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'sub_category' && $ctr.searchModel.order_way == 'ASC')}">
                                        <span class="no-wrap cursor-pointer">
                                             Sub Category <span class="text-danger">*</span>
                                            <span class="footable-sort-indicator"></span>
                                        </span>
                                        </th>
                                        <th ng-click="$ctr.getMyItems('case_cost')" class="width-120"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'case_cost' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'case_cost' && $ctr.searchModel.order_way == 'ASC')}">
                                        <span class="no-wrap cursor-pointer">
                                             Case($) <span class="text-danger">*</span>
                                            <span class="footable-sort-indicator"></span>
                                        </span>
                                        </th>
                                        <th ng-click="$ctr.getMyItems('minimum_order_type')" class="width-120"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'minimum_order_type' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'minimum_order_type' && $ctr.searchModel.order_way == 'ASC')}">
                                        <span class="no-wrap cursor-pointer">
                                             Minimum Order <span class="text-danger">*</span>
                                            <span class="footable-sort-indicator"></span>
                                        </span>
                                        </th>
                                        <th style="text-align: right;">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="item in $ctr.uniqueItem">
                                    <ng-form name="items">
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control" unique-sku search-params="$ctr.searchParams" min="0"  ng-model="item.vendor_sku">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" only-digits ng-model="item.pack" required minlength="0">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" only-digits ng-model="item.size" required minlength="0">
                                            </td>
                                            <td>
                                                <select class="form-control" ng-model="item.uom_id_of_delivery_unit" required ng-options="item.id as item.name for item in $ctr.deliveryMeasure"></select>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" required
                                                       typeahead-wait-ms="500"
                                                       typeahead-min-length="2"
                                                       uib-typeahead="brand as brand.brand for brand in $ctr.brand_lookup($viewValue)" ng-model="item.brand">
                                            </td>

                                            <td>
                                                <input type="text" class="form-control" ng-model="item.item_name"  required min="0">
                                            </td>
                                            <td>
                                                <select class="form-control" ng-model="item.vendor_cat_id" required ng-options="item.id as item.category for item in $ctr.categories"></select>
                                            </td>
                                            <td>
                                                <select class="form-control" ng-model="item.vendor_sub_cat_id" required ng-options="item.id as item.sub_category for item in $ctr.sub_categories | filter: {vendor_cat_id: item.vendor_cat_id}"></select>
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" ng-model="item.case_cost"  required min="0">
                                            </td>
                                            <td>
                                                <select class="form-control" required ng-model="item.minimum_order_type">
                                                    <option value="Case" selected>CASE</option>
                                                    <option value="Pack">PACK</option>
                                                    <option value="Each">EACH</option>
                                                </select>
                                            </td>
                                            <td style="padding-right: 0;">
                                                <a href="" ng-click="$ctr.removeUniqueItem($index, i)" class="btn btn-danger btn-circle pull-right" ><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                    </ng-form>
                                    </tbody>
                                </table>

                                <div class="text-right">
                                    <button type="button" id="btnAddRecipe" name="btnAddRecipe" class="btn btn-info"
                                            ng-click="$ctr.addUniqueItem()"><i class="glyphicon glyphicon-plus"></i></button>
                                </div>

                            </div>
                        </div>

                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-left" ng-click="$ctr.cancel()"><< Back</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </fieldset>
        </form>
    </div>
