<!-- Wrapper-->
<div id="wrapper">

    <header-component></header-component>

    <navigation-component></navigation-component>

    <!-- Page wraper -->
    <div id="page-wrapper" class="gray-bg">


        <!-- Main view  -->

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>Recipe Setup</h2>
                <p class="padding-top-5">
                    Instructions for restaurant user: Please enter the recipe for all items that are apart of your
                    customer's menu including items prepared in large batches. And remember to include every detail with
                    your recipe including oil & vinegar, down to a pinch of salt. After your recipes are created the
                    next step will be attaching each recipe to your actual customer's menu.
                </p>
            </div>
        </div>

        <div class="wrapper wrapper-content  animated fadeInRight owner-profile">
            <div class="row">
                <div class="col-xs-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3 class="text-center">Recipes</h3>
                                    <button class="btn btn-primary float-right" ng-click="$ctr.add()">Add Recipe
                                    </button>
                                </div>
                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table class="table table-stripped" data-page-size="8">
                                            <thead>
                                            <tr>
                                                <th>Recipe Name</th>
                                                <th>Type</th>
                                                <th class="width-200">Number of Ingredients</th>
                                                <th class="max-180"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="recipe in main.recipeList">
                                                <td>{{recipe.name}}</td>
                                                <td>{{recipe.type}}</td>
                                                <td>{{recipe.cnt}}</td>
                                                <td class="text-right">
                                                    <button class="btn btn-warning " type="button"
                                                            ng-click="main.open5(main)"><i class="fa fa-edit"></i>&nbsp;Edit
                                                    </button>
                                                    <button class="btn btn-danger " type="button"><i
                                                            class="fa fa-times"></i>&nbsp;Delete
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-xs-6 text-left">
                                    <button class="btn btn-primary">
                                        &lt;&lt; Back
                                    </button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-primary margin-right-10 float-right"
                                            ui-sref="food.menuSetup">Next - Menu Setup
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->

<script type="text/ng-template" id="add_new_recipe_item.html">
    <div class="inmodal">
        <form name="$ctr.form" autocomplete="off" novalidate ng-submit="$ctr.submit()">
            <div class="modal-header">
                <h4 class="modal-title" ng-if="!$ctr.isEdit">Create Recipe</h4>
                <h4 class="modal-title" ng-if="$ctr.isEdit">Edit Recipe</h4>
            </div>
            <div class="modal-body">
                <div class="row no-padding">
                    <div class="col-xs-12 col-sm-6">
                        <label>Recipe Name</label>
                        <input type="text" placeholder="Recipe Name" class="form-control" ng-model="$ctr.model.recipe_name">
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label>Servings</label>
                        <input type="number" placeholder="# Servings" class="form-control" ng-model="$ctr.model.serving">
                    </div>
                </div>
                <div class="row no-padding">
                    <div class="col-xs-12 col-sm-4">
                        <label>Recipe Type</label>
                        <select class="form-control" ng-model="$ctr.model.recipe_type">
                            <option value="Single Serving">Single Serving</option>
                            <option value="Batch Serving">Batch Serving</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <label>Shelf Life</label>
                        <input type="number" placeholder="# Shelf Life-days" class="form-control"
                               ng-model="$ctr.model.shelf_life">
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label>Yield</label>
                        <input type="text" placeholder="# Yield %" class="form-control" ng-model="$ctr.model.yield">
                    </div>
                </div>

                <br>
                <div class="col-md-2 no-padding">
                    <h3>Ingredients</h3>
                </div>

                <div class="col-md-10 no-padding">
                    <hr>
                </div>

                <div class="form-group">
                    <table class="table ng-scope" ng-if="$ctr.ingredients.length > 0">
                        <thead>
                        <tr>
                            <th>Ingredient Name</th>
                            <th class="width-150">Measurement Type</th>
                            <th class="width-150">Measure Like</th>
                            <th class="width-150">Unit of Measure</th>
                            <th class="width-80">Amount</th>
                            <th class="width-80">Cost</th>
                            <th class="width-80">Yield</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="ingredient in $ctr.ingredients" ng-form="ingredientForm">
                        <tr>
                            <td>
                                <select class="form-control" ng-model="ingredient.inventory"
                                        ng-options="opt as opt.name for opt in inventory_items track by opt.id">
                                    <option value="?" selected="selected" label=""></option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" ng-model="ingredient.measurement_type">
                                    <option value="? undefined:undefined ?"></option>
                                    <option value="Dry Measurements">Dry Measurements</option>
                                    <option value="Liquid Measurements">Liquid Measurements</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" ng-model="ingredient.measure_like">
                                    <option value="? undefined:undefined ?"></option>
                                    <option value="Dry Measurements">Butter</option>
                                    <option value="Dry Measurements">Parsley</option>
                                    <option value="Dry Measurements">Nuts</option>
                                    <option value="Dry Measurements">Sugar</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" ng-model="ingredient.unit_of_measure">
                                    <option value=""></option>
                                    <option value="">Ounces</option>
                                    <option value="">Grams</option>
                                    <option value="">Liters</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" placeholder="00" class="form-control" ng-model="ingredient.amount">
                            </td>
                            <td>
                                <input type="number" placeholder="$0.00" class="form-control"
                                       ng-model="ingredient.cost">
                            </td>
                            <td>-</td>
                            <td class="text-right">
                                <button class="btn btn-danger btn-circle" type="button"
                                        ng-click="$ctr.removeIngredient($index)"><i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button id="btnAddRecipe" name="btnAddRecipe" class="btn btn-info"
                                    ng-click="$ctr.addIngredient()"><i class="glyphicon glyphicon-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="ok($ctr.user)">Save</button>
            </div>
        </form>
    </div>
</script>