<!-- Wrapper-->
<div id="wrapper" ng-if="$ctr.permissions['8'].r">

    <header-component></header-component>

    <navigation-component></navigation-component>

    <!-- Page wraper -->
    <div id="page-wrapper" class="gray-bg">


        <!-- Main view  -->

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>Recipe Setup</h2>
                <p class="padding-top-5">
                    Instructions for restaurant user: Please enter the recipe for all items that are apart of your
                    customer's menu including items prepared in large batches. And remember to include every detail with
                    your recipe including oil & vinegar, down to a pinch of salt. After your recipes are created the
                    next step will be attaching each recipe to your actual customer's menu.
                </p>
            </div>
        </div>

        <div class="wrapper wrapper-content  animated fadeInRight owner-profile">
            <div class="row">
                <div class="col-xs-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3 class="text-center">Recipes</h3>
                                    <button class="btn btn-primary float-right" ng-if="$ctr.permissions['8'].w" ng-click="$ctr.add()">Add Recipe
                                    </button>
                                </div>
                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table class="table table-stripped" data-page-size="8">
                                            <thead>
                                            <tr>
                                                <th>Recipe Name</th>
                                                <th>Type</th>
                                                <th class="width-200">Number of Ingredients</th>
                                                <th class="max-180"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="r in $ctr.recipes track by $index">
                                                <td>{{r.recipe_name}}</td>
                                                <td>{{$ctr.get_refbooks.recipe_types | recipeTypeFilter : r.recipe_type_id}}</td>
                                                <td>{{r.recipe_items.length}}</td>
                                                <td class="text-right">
                                                    <button class="btn btn-warning " type="button"
                                                            ng-if="$ctr.permissions['8'].w"
                                                            ng-click="$ctr.edit(r, $index)"><i class="fa fa-edit"></i>&nbsp;Edit
                                                    </button>
                                                    <button class="btn btn-danger" type="button" ng-click="$ctr.delete(r)"
                                                            ng-if="$ctr.permissions['8'].d">
                                                        <i class="fa fa-times"></i>&nbsp;Delete
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr ng-show="!$ctr.recipes.length">
                                                <td colspan="4" class="text-center">
                                                    <span class="m-t-lg m-b-lg">No results</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-xs-6 text-left">
                                    <button scroll-top class="btn btn-primary" ui-sref="foodSetup.inventory">
                                        &lt;&lt; Back
                                    </button>
                                </div>
                                <div class="col-xs-6">
                                    <button scroll-top class="btn btn-primary margin-right-10 float-right"
                                            ui-sref="foodSetup.menu" ng-disabled="!$ctr.recipes.length">Next - Menu Setup
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->

<script type="text/ng-template" id="add_new_recipe_item.html">
    <div class="inmodal">
        <form name="$ctr.form" autocomplete="off" novalidate ng-submit="$ctr.submit($ctr.form)">
            <div class="modal-header">
                <h4 class="modal-title" ng-if="!$ctr.recipe">Create Recipe</h4>
                <h4 class="modal-title" ng-if="$ctr.recipe">Edit Recipe</h4>
            </div>
            <div class="modal-body">
                <div class="row m-b">
                    <div class="col-xs-12 col-sm-6">
                        <label>Recipe Name <span class="text-danger">*</span></label>
                        <input type="text" placeholder="Recipe Name" class="form-control" ng-model="$ctr.model.recipe_name" required>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label>Yield (%)</label>
                        <input type="number" min="0" placeholder="# Yield %" class="form-control" ng-model="$ctr.model.yield" readonly>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label>Cost($)</label>
                        <input type="number" min="0" placeholder="$0.00" class="form-control" ng-model="$ctr.model.cost" required readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <label>Recipe Type</label>
                        <select class="form-control" ng-model="$ctr.model.recipe_type" required
                                ng-options="value.id as value.name for value in $ctr.get_refbooks.recipe_types">
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-4" ng-show="$ctr.model.recipe_type === 2">
                        <label>Servings <span class="text-danger">*</span></label>
                        <input type="number" min="0" placeholder="# Servings" class="form-control" ng-model="$ctr.model.servings" ng-required="$ctr.model.recipe_type === 2">
                    </div>
                    <div class="col-xs-12 col-sm-4" ng-show="$ctr.model.recipe_type === 2">
                        <label>Shelf Life <span class="text-danger">*</span></label>
                        <input type="number" placeholder="# Shelf Life-days" class="form-control"
                               ng-model="$ctr.model.shelf_life" min="0" ng-required="$ctr.model.recipe_type === 2">
                    </div>
                </div>

                <br>
                <div class="col-md-2 no-padding">
                    <h3>Ingredients</h3>
                </div>

                <div class="col-md-10 no-padding">
                    <hr>
                </div>

                <div class="form-group">
                    <table class="table ng-scope" ng-if="$ctr.model.ingredients.length">
                        <thead>
                        <tr>
                            <th>Ingredient Name <span class="text-danger">*</span></th>
                            <th class="width-180">Measurement Type <span class="text-danger">*</span></th>
                            <th class="width-150">Measure Like <span ng-show="$ctr.model.ingredients[0].measurement_type == 1" class="text-danger">*</span></th>
                            <th class="width-150">Unit of Measure <span class="text-danger">*</span></th>
                            <th class="width-100">Amount <span class="text-danger">*</span></th>
                            <th class="width-100">Cost($)</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="i in $ctr.model.ingredients track by i.time">
                        <ng-form name="ingredientForm">
                            <tr>
                                <td>
                                    <select class="form-control" ng-model="i.model"
                                            ng-change="$ctr.ingredientSelected(i.model, $index); $ctr.calculate($index)"
                                            ng-options="value.item_name group by value.category for value in $ctr.ingredients | orderBy:'item_name'" required>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" ng-model="i.measurement_type" required
                                            ng-change="$ctr.calculate($index)"
                                            ng-options="value.id as value.name for value in $ctr.get_refbooks.measurement_types | orderBy:'name'">
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" ng-model="i.measurement_like" ng-required="i.measurement_type === 1"
                                            ng-change="$ctr.calculate($index)"
                                            ng-disabled="i.measurement_type === 2"
                                            ng-options="value.name group by value.category_name for value in $ctr.get_refbooks.measurement_likes | orderBy:'name'">
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" ng-model="i.unit_of_measure" required
                                            ng-change="$ctr.calculate($index)"
                                            ng-options="value.name for value in $ctr.get_refbooks.measurement_units | orderBy:'name' | filter: {measurement_type_id: i.measurement_type}">
                                    </select>
                                </td>
                                <td>
                                    <input type="number" placeholder="00" class="form-control" ng-model="i.amount" min="1" required
                                           ng-change="$ctr.calculate($index)">
                                </td>
                                <td>
                                    <input type="number" placeholder="$0.00" class="form-control" min="0"
                                           ng-change="$ctr.calculate($index)"
                                           ng-model="i.cost" required>
                                </td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-danger btn-circle" type="button"
                                            ng-click="$ctr.removeIngredient($index, i)" ><i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </ng-form>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button type="button" id="btnAddRecipe" name="btnAddRecipe" class="btn btn-info"
                                    ng-click="$ctr.addIngredient()"><i class="glyphicon glyphicon-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" ng-click="$ctr.cancel()">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</script>