<!-- Wrapper-->
<div id="wrapper">

    <header-component></header-component>

    <navigation-component></navigation-component>

    <!-- Page wraper -->
    <div id="page-wrapper" class="gray-bg">

        <!-- Main view  -->
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Add POS Here</h2>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-12 text-left">
                                    <button class="btn btn-primary" ng-click="$ctr.backPosSync();">&lt;&lt; Back
                                    </button>
                                </div>
                                <div class="col-xs-12">
                                    <div ng-bind-html="$ctr.instalation_manual"></div>
                                </div>
                                <div class="col-xs-12">
                                    <button class="btn btn-primary margin-right-10 float-right"
                                            ng-click="$ctr.connect()">Connect <span ng-show="$ctr.inRequest">...</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->

<script type="text/ng-template" id="location_code.html">
    <div class="inmodal">
        <form class="form-horizontal" name="form" novalidate autocomplete="off" ng-submit="$ctr.submit(form)">
            <fieldset>
                <div class="modal-header">
                    <h4 class="modal-title">Location Code</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Location Code</label>
                            <input type="text" placeholder="Location Code" class="form-control"
                                   ng-model="$ctr.location" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" ng-click="$ctr.cancel()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Connect</button>
                </div>
            </fieldset>
        </form>
    </div>
</script>