
    <div class="inmodal">
        <form name="$ctr.form" autocomplete="off" novalidate ng-submit="$ctr.submit($ctr.form, true)">
            <fieldset ng-disabled="$ctr.searchModel.inRequest">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$ctr.cancel()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modify/Add - {{$ctr.vendorsName}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row m-b">

                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table class="table ng-scope  footable-sort">
                                    <thead class="th-text-center th-vertical-align-middle ">
                                    <tr>
                                        <th ng-click="$ctr.getMyItems('item_name')"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'item_name' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'item_name' && $ctr.searchModel.order_way == 'ASC')}">
                                            <span class="no-wrap cursor-pointer">
                                                Alcohol <span class="text-danger">*</span>
                                                <span class="footable-sort-indicator"></span>
                                            </span>
                                        </th>
                                        <th ng-click="$ctr.getMyItems('category')" class="width-150"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'category' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'category' && $ctr.searchModel.order_way == 'ASC')}">
                                            <span class="no-wrap cursor-pointer">
                                                Category <span class="text-danger">*</span>
                                                <span class="footable-sort-indicator"></span>
                                            </span>
                                        </th>
                                        <th ng-click="$ctr.getMyItems('sub_category')" class="width-120"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'sub_category' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'sub_category' && $ctr.searchModel.order_way == 'ASC')}">
                                            <span class="no-wrap cursor-pointer">
                                                Sub Category <span class="text-danger">*</span>
                                                <span class="footable-sort-indicator"></span>
                                            </span>
                                        </th>
                                        <th ng-click="$ctr.getMyItems('tare_type_id')" class="width-100"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'tare_type_id' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'tare_type_id' && $ctr.searchModel.order_way == 'ASC')}">
                                                <span class="no-wrap cursor-pointer">
                                                Size <span class="text-danger">*</span>
                                                <span class="footable-sort-indicator"></span>
                                                </span>
                                        </th>
                                        <th ng-click="$ctr.search('full_weight')"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'full_weight' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'full_weight' && $ctr.searchModel.order_way == 'ASC')}">
                                                <span class="no-wrap cursor-pointer">
                                                    Full Unit Weight
                                                    <span class="footable-sort-indicator"></span>
                                                </span>
                                        </th>
                                        <!--<th ng-click="$ctr.search('size')"-->
                                            <!--ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'size' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'size' && $ctr.searchModel.order_way == 'ASC')}">-->
                                                <!--<span class="no-wrap cursor-pointer">-->
                                                    <!--Content  <br> Weight-->
                                                    <!--<span class="footable-sort-indicator"></span>-->
                                                <!--</span>-->
                                        <!--</th>-->
                                        <!--<th ng-click="$ctr.search('tare_weight')"-->
                                            <!--ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'tare_weight' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'tare_weight' && $ctr.searchModel.order_way == 'ASC')}">-->
                                                <!--<span class="no-wrap cursor-pointer">-->
                                                    <!--Tare <br> Weight-->
                                                    <!--<span class="footable-sort-indicator"></span>-->
                                                <!--</span>-->
                                        <!--</th>-->
                                        <th ng-click="$ctr.search('manufacturer')"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'manufacturer' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'manufacturer' && $ctr.searchModel.order_way == 'ASC')}">
                                                <span class="no-wrap cursor-pointer">
                                                    Manufacturer
                                                    <span class="footable-sort-indicator"></span>
                                                </span>
                                        </th>
                                        <th ng-click="$ctr.getMyItems('vendor_sku')" class="width-100"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'vendor_sku' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'vendor_sku' && $ctr.searchModel.order_way == 'ASC')}">
                                            <span class="no-wrap cursor-pointer">
                                                SKU
                                                <span class="footable-sort-indicator"></span>
                                            </span>
                                        </th>
                                        <th ng-click="$ctr.search('case_qty')"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'case_qty' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'case_qty' && $ctr.searchModel.order_way == 'ASC')}">
                                                <span class="no-wrap cursor-pointer">
                                                    Case Qty
                                                    <span class="text-danger">*</span>
                                                    <span class="footable-sort-indicator"></span>
                                                </span>
                                        </th>
                                        <th ng-click="$ctr.getMyItems('total_unit_size')" class="width-100"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'total_unit_size' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'total_unit_size' && $ctr.searchModel.order_way == 'ASC')}">
                                            <span class="no-wrap cursor-pointer">
                                                Unit <span class="text-danger">*</span>
                                                <span class="footable-sort-indicator"></span>
                                            </span>
                                        </th>
                                        <th ng-click="$ctr.getMyItems('case_cost')" class="width-120"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'case_cost' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'case_cost' && $ctr.searchModel.order_way == 'ASC')}">
                                            <span class="no-wrap cursor-pointer">
                                                Case($) <span class="text-danger">*</span>
                                                <span class="footable-sort-indicator"></span>
                                            </span>
                                        </th>
                                        <th ng-click="$ctr.getMyItems('unit_cost')" class="width-120"
                                            ng-class="{'footable-sorted-desc': ($ctr.searchModel.order_by == 'unit_cost' && $ctr.searchModel.order_way == 'DESC'), 'footable-sorted': ($ctr.searchModel.order_by == 'unit_cost' && $ctr.searchModel.order_way == 'ASC')}">
                                            <span class="no-wrap cursor-pointer">
                                                Item ($) <span class="text-danger">*</span>
                                                <span class="footable-sort-indicator"></span>
                                            </span>
                                        </th>
                                        <th class="width-50">Delete</th>

                                    </tr>
                                    </thead>
                                    <!--<tbody ng-repeat="item in $ctr.uniqueItem | orderBy: $ctr.searchModel.order_by : reverse">-->
                                    <tbody ng-repeat="item in $ctr.uniqueItem" ng-if="$ctr.refbooks">
                                    <ng-form name="items">
                                        <tr>
                                            <td>
                                                <span uib-tooltip="{{item.item_name}}" ng-if="item.parent_id">
                                                    <input type="text" class="form-control min-width-115" ng-model="item.item_name" readonly>
                                                </span>
                                                <span ng-if="!item.parent_id">
                                                    <input type="text" class="form-control min-width-115" minlength="1" required ng-model="item.item_name">
                                                </span>
                                            </td>
                                            <td>
                                                <select ng-disabled="item.parent_id" class="form-control min-width-115" ng-model="item.vendor_cat_id" required ng-options="item.id as item.category for item in $ctr.categories | filter : {inventory_type_id: 2}"></select>
                                            </td>
                                            <td>
                                                <select ng-disabled="item.parent_id" class="form-control min-width-115" ng-model="item.vendor_sub_cat_id" ng-change="$ctr.setWeights($index, item.vendor_cat_id, item.vendor_sub_cat_id, item.tare_type_id)" required ng-options="item.id as item.sub_category for item in $ctr.sub_categories | filter: {vendor_cat_id: item.vendor_cat_id}"></select>
                                            </td>
                                            <td>
                                                <!--<select ng-disabled="item.parent_id" class="form-control min-width-115" ng-model="item.tare_type_id" required ng-options="item.tare_type_id as item.name for item in $ctr.refbooks['tare_types']"></select>-->
                                                <select ng-disabled="item.parent_id" class="form-control min-width-115" ng-model="item.tare_type_id" required
                                                        ng-change="$ctr.setWeights($index, item.vendor_cat_id, item.vendor_sub_cat_id, item.tare_type_id)"
                                                        ng-options="item.tare_type_id as item.name for item in $ctr.getSizes(item.vendor_cat_id, item.vendor_sub_cat_id)"></select>
                                            </td>
                                            <td>
                                                 <span ng-if="!item.parent_id">
                                                     <span ng-if="(item.vendor_cat_id === 71)">-</span>
                                                     <input ng-disabled="item.parent_id" ng-if="(item.vendor_cat_id !== 71)" type="number" class="form-control min-width-115" ng-model="item.full_weight" required min="0"
                                                      ng-change="$ctr.setWeights($index, item.vendor_cat_id, item.vendor_sub_cat_id, item.tare_type_id)">
                                                </span>
                                                <span ng-if="item.parent_id">-</span>
                                            </td>
                                            <!--<td>-->
                                                <!--<span ng-show="!item.parent_id">-->
                                                    <!--<input ng-disabled="item.parent_id" type="number" class="form-control min-width-115" ng-model="item.size" required min="0">-->
                                                <!--</span>-->
                                                <!--<span ng-show="item.parent_id">-</span>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<span ng-show="!item.parent_id">-->
                                                    <!--<input ng-disabled="item.parent_id" type="number" class="form-control min-width-115" ng-model="item.tare_weight" required min="0">-->
                                                <!--</span>-->
                                                <!--<span ng-show="item.parent_id">-</span>-->
                                            <!--</td>-->

                                            <td>
                                                <input ng-disabled="item.parent_id" type="text" class="form-control min-width-115" ng-model="item.manufacturer">
                                            </td>
                                            <td>
                                                <input ng-disabled="item.parent_id" type="text" class="form-control min-width-115" ng-model="item.vendor_sku">
                                            </td>
                                            <td>
                                                <input ng-disabled="item.parent_id" type="number" class="form-control min-width-90" min="0" ng-model="item.case_qty" ng-change="$ctr.calculate($index)" readonly>
                                            </td>
                                            <td>
                                                <input ng-disabled="item.parent_id" type="number" class="form-control min-width-90" ng-change="$ctr.calculate($index)" required min="0.01" ng-model="item.pack">
                                            </td>
                                            <td>
                                                <input type="number" class="form-control min-width-90" ng-model="item.case_cost" readonly required min="0.01">
                                            </td>
                                            <td>
                                                <input type="number" class="form-control min-width-90" ng-model="item.pack_cost"  required min="0.01" ng-change="$ctr.calculate($index)">
                                            </td>
                                            <td style="padding-right: 0;">
                                                <a href="" ng-click="$ctr.removeUniqueItem($index, item)" class="btn btn-danger btn-circle pull-right" ><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                    </ng-form>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 m-t-md">
                            <div class="text-right">
                                <button type="button" id="btnAddRecipe" name="btnAddRecipe" class="btn btn-info"
                                        ng-click="$ctr.addUniqueItem()"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                        </div>

                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-left" ng-click="$ctr.cancel()"><< Back</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </fieldset>
        </form>
    </div>
