<div class="row border-bottom menu-button">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="padding-left-20">
            <a class="navbar-brand navbar-link" href="">
                <i class="glyphicon glyphicon-cutlery"></i> Artecsan powered by Skrible
            </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li ng-click="main.logout()">
                <a ui-sref="logins">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
        <div class="float-right padding-left-20 padding-right-20" style="padding-top: 2px;">
            <span>
                   <strong>Contact Customer Support</strong><br>
                    (Monday - Friday) 8am - 8pm CST<br>
                    <a href="mailto:support@skrible.com">support@skrible.co</a> <a href="tel:800-000-0000">800-000-0000</a>
               </span>

        </div>
    </nav>
</div>
<div class="row border-bottom menu-button-xs">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="padding-left-20">
            <a class="navbar-brand navbar-brand-xs navbar-link" href="">
                <i class="glyphicon glyphicon-cutlery"></i>
            </a>
        </div>
        <div class="padding-left-5 padding-right-5 float-left" style="padding-top: 2px;">
           <span>
                   <strong>Contact Customer Support</strong><br>
                    (Monday - Friday) 8am - 8pm CST<br>
                    <a href="mailto:support@skrible.com">support@skrible.co</a> <a href="tel:800-000-0000">800-000-0000</a>
               </span>


        </div>
        <div class="navbar-header float-right margin-right-10">
            <span minimaliza-sidebar></span>
        </div>
    </nav>
</div>
