<div class="inmodal">
    <form name="form" novalidate autocomplete="off" role="form" ng-submit="$ctr.submit(form)">
        <div class="modal-header">
            <h4 class="modal-title">Begin Alcohol Inventory Count</h4>
        </div>
        <div class="modal-body">
            <div>
                <div class="row">
                    <p style="padding-left: 15px;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, accusamus consectetur cum dicta dolore iste itaque provident quae quas, sed soluta sunt! Neque nobis nulla quibusdam quidem tempora unde voluptatibus!
                    </p>

                    <div class="col-sm-12 col-md-6 col-lg-6 cursor-pointer" ui-sref="alcoholSetup.foodInventory({isAdjustment: 'full'})">
                        <div class="widget style1 lazur-bg">
                            <div class="text-center button-element">
                                <a class="pos-title">Full Inventory</a>
                            </div>
                        </div>
                    </div>
                    <div ui-sref="alcoholSetup.foodInventory({isAdjustment: 'adjustment'})" class="col-sm-12 col-md-6 col-lg-6 cursor-pointer" >
                        <div class="widget style1 lazur-bg">
                            <div class="text-center button-element">
                                <a class="pos-title">Adjustment Inventory</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>


