<div class="inmodal">
    <form name="form" novalidate autocomplete="off" role="form" ng-submit="$ctr.submit(form)">
        <div class="modal-header">
            <h4 class="modal-title">Begin Food Inventory Count</h4>
        </div>
        <div class="modal-body">
            <div>
                <div class="row">
                    <!--<p style="padding-left: 15px;">-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, accusamus consectetur cum dicta dolore iste itaque provident quae quas, sed soluta sunt! Neque nobis nulla quibusdam quidem tempora unde voluptatibus!-->
                    <!--</p>-->

                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div ui-sref="foodSetup.foodInventory({typeInventory: 'full'})" class="widget style1 btn-warning cursor-pointer">
                            <div class="text-center button-element">
                                <a class="pos-title color-black font-bold">Full Inventory Audit</a>
                            </div>
                        </div>
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deserunt dignissimos dolore doloremque et expedita iste laudantium odit, quas sequi! Commodi delectus doloremque earum error laudantium sequi tenetur ut voluptatibus.</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div ui-sref="foodSetup.foodInventory({typeInventory: 'adjustment'})" class="widget style1 btn-warning cursor-pointer">
                            <div class="text-center button-element">
                                <a class="pos-title color-black font-bold">Adjustment Inventory Audit</a>
                            </div>
                        </div>
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deserunt dignissimos dolore doloremque et expedita iste laudantium odit, quas sequi! Commodi delectus doloremque earum error laudantium sequi tenetur ut voluptatibus.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>


