<div class="inmodal">
    <form name="form" novalidate autocomplete="off" role="form" ng-submit="$ctr.submit(form)">
        <div class="modal-header">
            <h4 class="modal-title">Invitation</h4>
        </div>
        <div class="modal-body">
            <div>
               <div class="row">
                   <div class="col-xs-12 col-sm-6 form-group">
                       <label>First Name</label>
                       <input type="text" class="form-control" ng-model="$ctr.user.first_name" readonly>
                   </div>
                   <div class="col-xs-12 col-sm-6 form-group">
                       <label>Last Name</label>
                       <input type="text" class="form-control" ng-model="$ctr.user.last_name" readonly>
                   </div>
                   <div class="col-xs-12 col-sm-6 form-group">
                       <label>Email</label>
                       <input type="text" class="form-control" ng-model="$ctr.user.email" readonly>
                   </div>
                   <div class="col-xs-12 col-sm-6 form-group">
                       <label>Restaurant</label>
                       <input type="text" class="form-control" ng-model="$ctr.user.restaurant" readonly>
                   </div>
                   <div class="col-xs-12 col-sm-6 form-group">
                       <label>Role</label>
                       <input type="text" class="form-control" ng-model="$ctr.user.role" readonly>
                   </div>
                   <div class="col-xs-12 col-sm-6 form-group">
                       <label>Address</label>
                       <input type="text" class="form-control" ng-model="$ctr.user.address" readonly>
                   </div>
                    <div class="col-xs-12 col-sm-6 form-group">
                       <label>City</label>
                       <input type="text" class="form-control" ng-model="$ctr.user.city_name" readonly>
                   </div>
                   <div class="col-xs-12 col-sm-3 form-group">
                       <label>State</label>
                       <input type="text" class="form-control" ng-model="$ctr.user.state" readonly>
                   </div>
                   <div class="col-xs-12 col-sm-3 form-group">
                       <label>Zip</label>
                       <input type="text" class="form-control" ng-model="$ctr.user.zip" readonly>
                   </div>



                   <div class="col-xs-12 form-group" ng-if="$ctr.user.is_new_user">
                       <label>Password</label>
                       <input type="password" placeholder="Password" required class="form-control" ng-model="$ctr.user.password">
                   </div>
                   <div class="col-xs-12 form-group" ng-if="$ctr.user.is_new_user" ng-class="{'has-error': (form.$submitted && $ctr.user.password !== $ctr.user.password_confirm) && form.password_confirm.$dirty}">
                       <label>Confirm password</label>
                       <input type="password" name="password_confirm" placeholder="Confirm password" required class="form-control" ng-model="$ctr.user.password_confirm" ng-pattern="$ctr.password">
                   </div>
                   <div class="col-xs-12 form-group" ng-show="(form.$submitted && $ctr.user.password !== $ctr.user.password_confirm) && form.password_confirm.$dirty">
                       <div class="m-t-xs animated fadeInRight">
                           <small class="text-danger">Passwords not match.</small>
                       </div>
                   </div>
               </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="$ctr.decline()">Decline</button>
            <button type="submit" class="btn btn-primary">Accept</button>
        </div>
    </form>
</div>

